body {
    margin: 2;
    font-family:'Merriweather', serif;
    font-size: 25px;
    line-height: 30px;
}

/*Header section*/

header{
    background-image: url('images/photo2.jpg');
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

header h1{
    color:  white;
    font-size: 50px;
}

header img{
    border-radius: 170px;
    width: 300px;
    border: 20px solid white;
}

/*Main section*/
main{
    background-color: rgb(236, 219, 215);
    max-width: 1510px;
    margin: 0 auto;
    padding: 0 80px;
}

main img{
    max-width: 100%;
    width: 220px;
    border: 3px solid white;
    margin: 2 auto;
}

main h2{
    font-size: 40px;
    margin: 50px 0 10px;
    color:  rgb(115, 130, 95);
}

main a{
    color: black;
}

main a:hover{
    background-color: black;
    color: white;
}

p.caption{
    margin-top: 0;
    color:  grey;
    font-style: italic;
    font-size: 20px;
}

/*Footer section*/

footer{
    background-image: url('images/photo2.jpg');
    text-align: center;
    padding: 10px;
}

footer p{
    margin: 0;
    color:  white;
    font-size: 25px;
}

footer a{
    color: white;
}

footer a:hover{
    background-color: white;
    color: black;
}