<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wenyi Huang</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>

    <!-- Header section -->
    <header>
        <img src="images/photo1.jpg">
        <h1>--Wenyi Huang--</h1>
    </header>

    <!-- About me -->
    <main>
        <h2>-About Me♡-</h2>
        <p>#From Guangzhou, China</p>
        Birthday:  Jan 25th, 2000</p>
        Email:  Wenyi.Huang@warwick.ac.uk</p>
        weibo/bilibili: <a href="https://space.bilibili.com/381780313" target="_blank"> ellenee_</a>(click it​​​♡)</p>
        Instagram:<a href="https://www.instagram.com/accounts/login/?next=/ellenee_51/" target="_blank"> ellenee_51</a>(click it​​​♡)</p>
        <p class="caption">Nice to meet u :)</p>

        <!-- Favourite -->
        <h2>-My Favourite♡-</h2>
        <table><tr>
        <td><img src="images/favourite1.jpg" border=0></td>
        <td><img src="images/favourite2.jpg" border=0></td>
        <td><img src="images/favourite3.jpg" border=0></td>
         <td><img src="images/favourite4.jpg" border=0></td>
        <tr><table>
        <p>
            ♡Favourite singer: Jay Chou, Keshi<p>
            ♡Favourite drama/TV:  New Journey to the West, and other Korea Television drama<p>
            ♡Favourite food: Boba tea, Mochi, Hot pot<p>
            ♡LOVE CAT!! <p>
        </ul>

        <!-- Hobbies -->
        <h2>-My Hobbies♡-</h2>
        <p>♡Watching TV Series and Movie</p>
        ♡Travelling and Photographing</p>
        ♡Karaoke</p>


        <!-- Hobbies -->
        <h2>-My Friends♡-</h2>
          
    </main>

    <!-- Footer section -->
    <footer>
        <p>ɴɪᴄᴇᴛᴏᴍᴇᴇᴛʏᴏᴜ ˙Ⱉ˙ฅ</p>
    </footer>
</body>
</html>